title {
    background-color: #0c0303;
    font-family: Arial, sans-serif;
}

h1 {
    color: black;
}

body {
    background-color: #eaeced; 
}

.btn:hover {
    background-color: #A2877D; 
    transform: scale(1.1); 
}



.image1style{
    width: 160px;
    height: 60px;
    margin-left: 15px
}

.nav_background{
    background-color: #375F67 !important;
}

.component1{
    width: 100%;
    /* height: 1010px; */
    padding-bottom: 20px;
    background-color: white;
}

.group12{
    height: 535px;
    width: 103%;
    background-image: url('src/images/Group12.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.font1{
    font-size: 75px;
    font-weight: 700;
    color: #B89C53;
}

.font20{
    font-size: 20px;
}

.font45{
    font-size: 45px;
    font-weight: 700;
}

.component2{
    width: 100%;
    background-color: white;
    /* background-image: url('src/images/flower.png'); */
    background-size: 50% 50% cover;
    background-position: center center;
}

.component3{
    width: 100%;
    background-color: white;
}

.component5{
    width: 100%;
    background-color: white;
    /* background-image: url('src/images/flower.png'); */
    background-repeat: no-repeat;
}

.component6{
    width: 100%;
    background-color: white;
}

.component7{
    width: 100%;
    background-color: white;
    background-image: url('src/images/pngwing 6.png');
    background-size: 50% 50% cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.component8{
    width: 100%;
    background-color: white;
    background-image: url('src/images/pngwing 4.png');
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}

.component9{
    width: 100%;
    background-color: #375f67;
}

.font15{
    font-size: 15px;
    font-weight: 500;
}

.containerbox{ 
    background-color: white;
    padding:05px 20px 05px 20px;
    border-radius: 20px; 
    width: 90%; 
    border: 1px solid #95BFCB;
}

.feedbach1{
    height: 35%; 
    width: 80%; 
    margin: 120px 15px 10px 0px;
}

.feedbach2{
    height: 35%; 
    width: 80%; 
    margin: 55px 15px 10px 70px;
}

.feedbach3{
    height: 35%; 
    width: 80%; 
    margin: 20px 15px 10px 0px;
}

.feedbach4{
    height: 35%; 
    width: 80%; 
    margin: 20px 15px 10px 125px;
}


.appButton {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

    border: none;
}
   



@media (max-width: 426px) {

    .group12{
        height: 310px;
    }

    .font45{
        font-size: 25px;
        font-weight: 600;
    }

    .font1{
        font-size: 40px;
    }
    
    .font20{
        font-size: 15px;
    }
}

@media (max-width: 1025px) {
    .font45{
        font-size: 35px;
    }
}


@media (max-width: 1000px) {
    .containerbox{  
        width: 105%; 
    }
}

@media (max-width: 767px) {
    .containerbox{  
        width: 100%; 
    }
    .feedbach1{
        height: 45%; 
        margin: 0px 0px 15px 0px;
    }
    
    .feedbach2{
        height: 45%; 
        margin: 0px;
    }
    
    .feedbach3{
        height: 45%; 
        margin: 0px 0px 15px 0px;
    }
    
    .feedbach4{
        height: 45%; 
        margin: 0px;
    }
    .abountBtn{
        margin-bottom: 4px;
    }
}